.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: calc(100vh - 12.5rem - 3.4625rem);
    width: 100%;
    max-width: 46rem;
    padding: 0 1rem;
    

    @media (max-width: 480px){
        height: calc(100vh - 8rem - 3.4625rem - 1.5rem);    
    }

    @media (max-width: 300px){
        height: calc(100vh - 11rem - 3.4625rem - 1.5rem);      
    }
}

.main header {
    height: 4.375rem;
}

.main header form{
    display: flex;
    align-items: center;
    
    gap: 0.5rem;
    margin-top: -1.5rem;
}

.taskCharactersQuantity {
    display: flex;
    width: fit-content;
    padding: 0.125rem 0.5rem;
    
    color: var(--blue-500);
    font-weight: bold;
    font-size: 0.75rem;
}

.taskCharacterLimit {
    color: var(--purple-500);
}

.tasksList {
    display: flex;
    flex: 1;
    flex-direction: column;

    gap: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    overflow-y: auto;

    @media (max-width: 480px) {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    @media (max-width: 300px) {
        margin-top: 1rem;
    }
    
}

.headerTasksList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    font-size: 0.875rem;

    
    & strong span {
        background: var(--gray-400);
        padding: 0.125rem 0.5rem; 
        margin-left: 0.5rem;

        border-radius: 12px;

        color: var(--gray-200);
        font-size: 0.75rem;
    }

    & strong:first-child {
        color: var(--blue-500);
    }

    & strong:last-child {
        color: var(--purple-500);
    }

    @media (max-width: 360px) {
        flex-direction: column;

        & div {
            order: -1;
        }
    }
}

.checkAllContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 50%;
    
}

.tasksCardsList {
    display: flex;
    flex-direction: column;
    flex: 1;
    
    gap: 0.75rem;
    overflow-y: scroll;

    padding-bottom: 1.5rem;

    &::-webkit-scrollbar {
        width: 0.375rem;
      }

   &::-webkit-scrollbar-track {
        background: transparent;
      }
   
    &::-webkit-scrollbar-thumb {
        background-color: var(--blue-700);
        border-radius: 8px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--blue-500);
    }
}
