.footer {
  display:  flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  background-color: var(--gray-700);

  padding: 1rem 2rem;
}

.footer strong {
  line-height: 1.5rem;
  color: var(--purple-500);
}

.footer strong svg {
  color: var(--blue-500);
}

.footer strong span{
  color: var(--blue-500);
  font-weight: 400;
}


.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
